body
{
    font-family: Arial, Verdana, sans-serif;
}
table, td, th
{
    border-collapse:collapse;
    border:1px solid black;
    padding-left: 1ex;
    padding-right: 1ex;
}

thead
{
    background-color: lightgray;
    color: rgb(0, 136, 204);
}

td.outlier
{
    background-color: red;
}

td.zeroer
{
    background-color: yellow;
}

#resourceform select
{
    width: 11em;
}

#navpane li
{
    float: left;
    display: inline;
    margin-right: 1em;
    padding: 0.5ex;
    border: 1px solid black;
    border-radius: 4px;
}

#navpane ul
{
    margin-top: 0px; 
    padding-left: 0px;
}

#navpane a
{
    text-decoration: none;
}
#spacer
{
    clear: both;
}

.datastore
{
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-top-color: black;
    border-top-style: solid;
    border-top-width: 2px;
    box-shadow: #AAA 2px 2px 19px 0px;
    color: #000;
    height: 8em;
    opacity: 0.8;
    padding-bottom: 5.76667px;
    padding-left: 5.76667px;
    padding-right: 5.76667px;
    padding-top: 5.76667px;
    transition-delay: 0s;
    transition-duration: 0.15s;
    transition-propertybox-shadowtransition-timing-function: cubic-bezier(0.42, 0, 1, 1);
    width: 15em;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    position: absolute;
}

.datasource
{
    border: thin solid black;
    box-shadow: #AAA 2px 2px 19px 0px;
    width: 150px;
    height: 4em;
    display: table;
    position: absolute;
}

.process
{
    border: thin solid black;
    border-radius: 50%;
    width: 12em;
    height: 6em;
    box-shadow: #AAA 2px 2px 19px 0px;
    display: table;
    position: absolute;
}

.sqldatastore {
    background-color: #95ed64;
}

.mongodatastore
{
    background-color: #deb0c4;
}

.filedatastore {
    background-color: #b0c4de;
}

.statsbox {
    font-size: 80%;
}

#pcpdatasource  { top: 2em; left: 2em; }
#resdatasource  { top: 9em; left: 2em; }
#local_mirror   { top: 2em; left: 24em; }
#summarization_scripts { top: 4.5em; left: 56.9em; }
#mongo          { top: 15em; left: 55em; height: 8em; }
#accountfact    { top: 15em; left: 23em; height: 8em; width: 17em; }
#etl_process    { top: 29em; left: 47em; }
#jobfact        { top: 28em; left: 24em; height: 7em; }
#aggregates     { top: 28em; left: 4em; height: 7em; }

#flowchart {
    border: thin solid black;
    position: relative;
    height: 40em;
    width: 75em;
}

#flowchart ul {
    padding-left: 0px;
}

#flowchart li {
     list-style-type: none;
}

.intpart {
    text-align: right;
    width: 2em;
    float: left;
}

.fractionpart {
    text-align: left;
    float: left;
}

#key {
    position: absolute;
    bottom: 0;
    right: 1ex;
}

span.centered {
  text-align: center;
	vertical-align: middle;
  display: table-cell;
}
.filekey {
    border: thin solid black;
    background-color: #b0c4de;
}
.sqlkey {
    border: thin solid black;
    background-color: #95ed64;
}
.mongokey {
    border: thin solid black;
    background-color: #deb0c4;
}
