.analyticTypeHeader{
    font-family: tahoma;
    font-size: 18px;
    padding: 5px 15px;
}

.analyticCard{
    width: 24%;
    height: auto;
    margin: 20px 0 20px 0.8%;
    float: left;
    background-color: rgb(233, 233, 233);
}

.analyticCardContents{
    font-family: tahoma;
    width: 100%;
    background-color: rgb(233, 233, 233);
    height: 100%;
}

.analyticHeader{
    padding: 15px 0 0 15px;
    min-height: 100px;
}

.analyticHeader h1{
    font-size: 18px;
}

.analyticHeader p{
    font-size: 15px;
}

.analyticScatterPlotThumbnail{
    height: 250px;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 15px;
}