# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing these this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Open XDMoD SUPReMM Module
email: ccr-xdmod-help@buffalo.edu
description: >
  An available Open XDMoD enhancement is SUPReMM (integrated HPC systems usage
  and performance of resources monitoring and modeling), which queries system
  hardware counters to collect a range of performance information, including
  memory usage, filesystem usage, interconnect fabric traffic, and CPU
  performance.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://supremm.xdmod.org" # the base hostname & protocol for your site
github_username: ubccr
github_url: https://github.com/ubccr/xdmod-supremm
xdmod_module_name: Job Performance (SUPReMM)

defaults:
    -
        scope:
            path: ""
            type: "pages"
        values:
            layout: "page"
            menu_markdown: "menu.md"

# Build settings
markdown: kramdown
theme_subdir: "/xdmod-jekyll-theme"
gems:
  - jekyll-redirect-from
whitelist:
  - jekyll-redirect-from
